@using Bazar.Data.Models
@using Microsoft.AspNetCore.Identity
@model ItemDetailsViewModel
@inject SignInManager<User> signInManager;

<div class="row">
    <div class="col-8 custom-box">
        <table class="table table-stripped">
            <tr>
                <td>
                    Name
                </td>
                <td>
                    @Model.Name @if (Model.IsNew)
                    {
                        <span class="badge bg-success">New</span>
                    }
                </td>
            </tr>
            <tr>
                <td>Description</td>
                <td>@Model.Description</td>
            </tr>
            <tr>
                <td>Price</td>
                <td>@Model.Price zł</td>
            </tr>
            @if (Model.PickupInPerson)
            {
                <tr>
                    <td>Pickup in person</td>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                        </svg>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>Pickup in person</td>
                    <td></td>
                </tr>
            }

            @if (Model.CourierDelivery)
            {
                <tr>
                    <td>Courier Delivery</td>
                    <td>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
  <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
</svg>
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>Courier Delivery</td>
                    <td></td>
                </tr>
            }

            <tr>
                <td>Category</td>
                <td>@Model.CategoryName</td>
            </tr>
        </table>
    </div>
    <div class="col-2 owner custom-box" style="margin-left: 15px">
        <div>
            <span>Owner: </span>
            <span>@Model.OwnerName</span>
        </div>

        @if (ViewBag.CanBuy)
        {
            <br />
            <div>
                @if (!signInManager.IsSignedIn(User))
                {
                    <a asp-controller="Login" asp-action="Index" asp-route-message="Log in to buy item" class="btn form-button" style="width: 100%">Buy now</a>
                }
                else
                {
                    <a asp-controller="Order" asp-action="Buy" asp-route-id="@(ViewContext.RouteData.Values["id"])" class="btn form-button" style="width: 100%">Buy now</a>

                }
            </div>
        }
    </div>
</div>
